<!DOCTYPE html>
<html>

<head>

    <script type="text/javascript">
		$(document).ready(function(){

			$( "#form" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/',
					data: $('#form1').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
         					//ADD THIS CODE
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="Success!") {
         						document.getElementById("aa").click();
         					};
         				},
         				error: function() {
         				}
         			})
			});

		});
	</script>
     <link rel="stylesheet" href="./css/style.css" type="text/css" href="xyz.css" >
    <div class="container">
                <div class="text-center">
                    
                    <a href="/" class="nav-brand text dark"><h1>PROJECT EVALUATION</h1></a>
                    <p style="text-align: center; font-size:16px">Making evaluation easy</p>
                </div>
   

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box
        }
        
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        
        .navbar {
            width: 100%;
            background-color: orange;
            overflow: auto;
        }
        
        .navbar a {
            float: left;
            padding: 12px;
            color: white;
            text-decoration: none;
            font-size: 17px;
            width: 25%;
            /* Four links of equal widths */
            text-align: center;
        }
        
        .navbar a:hover {
            background-color: rgb(121, 83, 2);
        }
        
        .navbar a.active {
            background-color: ;
        }
        
        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
        }
        
        @media screen and (max-width: 500px) {
            .navbar a {
                float: none;
                display: block;
                width: 100%;
                text-align: left;
            }
        }
    </style>
    <h2>
       
    </h2>
    <br>
      <br>
    <div class="navbar">
      
        <a href="/faculty2">Home</a>
         <a href="/index">Admin Login</a>
        <a href="/index1">Faculty Login</a>
        <a href="/contact">Contact us</a>
        
    </div>
    <div>
        <div style=" 
         margin-top:23px;
    width: 250px;
    height: available;
    min-height: 200px;

    float: left;
   
   
    padding:10px solid white;">
    <img src="https://www.accenture.com/t20200121T013639Z__w__/in-en/_acnmedia/Accenture/Redesign-Assets/DotCom/Images/Global/Hero/9/Accenture-Industry-Best-in-Class-Project-Marquee.jpeg" style="border: 5px solid gray; border-radius: 250px; " ></div>

    <div style=" width: available;
    margin-top:50px;
    height: available;
    position: relative;
    margin-left: 75%;
   
    border-collapse: collapse;"></div>
    </div>

    <div class="" style="align-items: left;margin-left:800px; margin-top:100px; font-family: Palatino, URW Palladio L, serif; ">

        <p style="font-size:30px ;line-spacing:1.5px;">"Everything that can be counted does not necessarily count; everything that counts cannot necessarily be counted."</p>
        <br>
        <p style="font-size:20px"><b>Albert Einstein</b></p>

    </div>

</head>

<body>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        
        * {
            box-sizing: border-box;
        }
        /* Button used to open the chat form - fixed at the bottom of the page */
        
        .open-button {
            background-color: Orange;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            opacity: 0.8;
            position: fixed;
            bottom: 23px;
            right: 28px;
            width: 280px;
        }
        /* The popup chat - hidden by default */
        
        .chat-popup {
            display: none;
            position: fixed;
            bottom: 0;
            right: 15px;
            border: 3px solid #f1f1f1;
            z-index: 9;
        }
        /* Add styles to the form container */
        
        .form-container {
            max-width: 300px;
            padding: 10px;
            background-color: white;
        }
        /* Full-width textarea */
        
        .form-container textarea {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            border: none;
            background: #f1f1f1;
            resize: none;
            min-height: 200px;
        }
        /* When the textarea gets focus, do something */
        
        .form-container textarea:focus {
            background-color: #ddd;
            outline: none;
        }
        /* Set a style for the submit/send button */
        
        .form-container .btn {
            background-color: #41aec2;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-bottom: 10px;
            opacity: 0.8;
        }
        /* Add a red background color to the cancel button */
        
        .form-container .cancel {
            background-color: red;
        }
        /* Add some hover effects to buttons */
        
        .form-container .btn:hover,
        .open-button:hover {
            opacity: 1;
        }
    </style>
    </head>

    <!-- <body>
        <button class="open-button" onclick="openForm()">Chat</button>

        <div class="chat-popup" id="myForm">
            <form id="form1" method="POST" class="form-container">
                <h1>Chat</h1>

                <label for="msg"  id="chat"><b>Message</b></label>
                <textarea placeholder="Type message.." name="msg" required></textarea>

                <button type="submit" class="btn" name="msg">Send</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
            <div class="mssg bg-danger">
			<span id="check" ></span>
		</div>
		<div id="LangTable"><a href="/" id="aa"></a>
		</div>

        


        <script>
            function openForm() {
                document.getElementById("myForm").style.display = "block";
            }

            function closeForm() {
                document.getElementById("myForm").style.display = "none";
            }
        </script>


    </body> -->






    <style>
        textarea {
            display: block;
            border: 1px solid #BBB;
            color: #444;
            font-size: 110%;
        }
        
        button {
            margin-top: 10px;
        }
    </style>
</body>
</html>
