<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="css/Selection.css" />
  </head>
  <body style="background-image: linear-gradient( rgb(245, 211, 100),#e97020)" >
    <div class="wrap" >
      <h1 
        class="likert-header"
    style="text-align: center; background-color:rgba(185, 24, 218, 0.2); font-size:xx-large; font-family:'sans-serif ';box-shadow: 
		0 -1px 0 rgba(1,0,0.2,1), 0 1px 0 rgba(255,255,255,0.6);;"
         
      >
        PHASE 3
      </h1>
       <%-include('include/_phs3')%>
    
       <script src="check.js"></script>
    
    <button><a href="/login">Go back</a></button>
  </body>
</html>