 <form action="/api/users" method="POST" id="add_user">
                <div class="new_user">
                    <div class="form-group">
                         
                        <label for="ids" class="text-light">ID</label>
                        <input type="hidden" name="id" value="">
                        <input type="number" name="ids" value="" placeholder="your id">
                        
                    </div>
                    <div class="form-group">
                        <label for="names" class="text-light">Name</label>
                        
                        <input type="text" name="names" value="" placeholder="your name">

                    </div>
                     <div class="form-group">
                        <label for="email" class="text-light">Email</label>
                        
                        <input type="email" name="email" value="" placeholder="your email">
                        
                    </div>
                    <div class="form-group">
                        <label for="dept" class="text-light">Department</label>
                       
                        <input type="text" name="dept" value="" placeholder="your department">
                        
                    </div>
                    <div class="form-group">
                        <label for="grade" class="text-light">Grade</label>
                       
                        <input type="text" name="grade" value="" placeholder="professional grade">
                        
                    </div>
                    <div class="form-group">
                        <label for="grpno" class="text-light">Group number</label>
                       
                        <input type="number" name="grpno" value="" placeholder="group number">
                        
                    </div>

                    <div class="form-group">
                        <label for="phase" class="text-light">Phase</label>
                       <div class="radio inline">
                            <input type="radio" id="phase-1" name="phase" value="phase1">
                            <label for="phase-1" class="radio-label">Phase 1</label>
                        </div>
                          <div class="radio inline">
                              <input type="radio" id="phase-2" name="phase" value="Phase 2">
                                <label for="phase-2" class="radio-label">Phase 2</label>
                          </div>
                          <div class="radio inline">
                                <input type="radio" id="phase-3" name="phase" value="Phase 3">
                                 <label for="phase-3" class="radio-label">Phase 3</label>
                           </div>
                    </div>
                    <div class="form-group">
                        <label for="time" class="text-light">TIME</label>
                       
                        <input type="time" name="time" value="" placeholder="group number">
                        
                    </div>
                    <div class="form-group">
                        <label for="date" class="text-light">Date</label>
                       
                        <input type="date" name="date" value="" placeholder="group number">
                        
                    </div>
                    <div class="form-group">
                        <label for="link" class="text-light">Link</label>
                       
                        <input type="link" name="link" value="" placeholder="Link">
                        
                    </div>
                     <div class="form-group">
                      <button type="submit" class="btn text-dark update">Save</button>
                        
                    </div>
                     

                </div>
            
            </form>