 <form acion="/api/user2" methos="POST" id="register">
                <div class="form sign-up">
                    <h2></h2>
                    <label for="names">
                        <span>Name</span>
                        <input type="text" name="names" />
                    </label>
                    <label for="emails">
                        <span>Email</span>
                        <input type="email" name="email" />
                    </label>
                    <label for="passwords">
                        <span>Password</span>
                        <input type="password"  name="password"/>
                    </label>
                    <button type="submit" class="submit" >Sign Up</button>
                    <button type="button" class="fb-btn">Join with <span>facebook</span></button>
                </div>
            </form>