<form action="/api/user2" method="POST" id="log" class='input-group-login'>
                   Email <input type='text' name="email"class='input-field'placeholder='Email Id' required >
		    Password<input type='password' name="password"class='input-field'placeholder='Enter Password' required>
             <button type='submit'class='submit-btn'>Log in</button>
</form>