<form action="/api/user3" method="POST" id="phase1">
        <label for="prb_dom" class="statement">Identification of Problem Domain</label>
        <ul class="likert"  >
          <li>
            <input type="radio"  name="prb_dom" value=5 />
            <label>Excellent</label>
            <label>(5)</label>
          </li>
          <li>
            <input type="radio" name="prb_dom" value=4 />
            <label>Good(4)</label>
          </li>
          <li>
            <input type="radio" name="prb_dom" value=3 />
            <label>Average(3)</label>
          </li>
          <li>
            <input type="radio" name="prb_dom" value=2 />
            <label>Fair(2)</label>
          </li>
          <li>
            <input type="radio" name="prb_dom" value=1 />
            <label>Poor(1)</label>
          </li>
        </ul>
        <label for="lit_sur" class="statement">Literature Survey</label>
        <ul class="likert" id="r2">
          <li>
            <input type="radio" name="lit_sur" value=5 />
            <label>Excellent(5)</label>
          </li>
          <li>
            <input type="radio" name="lit_sur" value=4 />
            <label>Good(4)</label>
          </li>
          <li>
            <input type="radio" name="lit_sur" value=3 />
            <label>Average(3)</label>
          </li>
          <li>
            <input type="radio" name="lit_sur" value=2 />
            <label>Fair(2)</label>
          </li>
          <li>
            <input type="radio" name="lit_sur" value=1 />
            <label>Poor(1)</label>
          </li>
        </ul>
        <label for="dsg_mth" class="statement"
          >Objectives and Design Methdology/Project proposal</label
        >
        <ul class="likert" id="r3">
          <li>
            <input type="radio" name="dsg_mth" value=5 />
            <label>Excellent(5)</label>
          </li>
          <li>
            <input type="radio" name="dsg_mth" value=4 />
            <label>Good(4)</label>
          </li>
          <li>
            <input type="radio" name="dsg_mth" value=3 />
            <label>Average(3)</label>
          </li>
          <li>
            <input type="radio" name="dsg_mth" value=2 />
            <label>Fair(2)</label>
          </li>
          <li>
            <input type="radio" name="dsg_mth" value=1 />
            <label>Poor(1)</label>
          </li>
        </ul>
        <label for="dap" class="statement">Demonstartion and Presentation</label>
        <ul class="likert" id="r4">
          <li>
            <input type="radio" name="dap" value=5 />
            <label>Excellent(5)</label>
          </li>
          <li>
            <input type="radio" name="dap" value=4 />
            <label>Good(4)</label>
          </li>
          <li>
            <input type="radio" name="dap" value=3 />
            <label>Average(3)</label>
          </li>
          <li>
            <input type="radio" name="dap" value=2 />
            <label>Fair(2)</label>
          </li>
          <li>
            <input type="radio" name="dap" value=1 />
            <label>Poor(1)</label>
          </li>
        </ul>
        <label for="q_a"class="statement">Q-A</label>
        <ul class="likert" id="r5">
          <li>
            <input type="radio" name="q_a" value=5 />
            <label>Excellent(5)</label>
          </li>
          <li>
            <input type="radio" name="q_a" value=4 />
            <label>Good(4)</label>
          </li>
          <li>
            <input type="radio" name="q_a" value=3 />
            <label>Average(3)</label>
          </li>
          <li>
            <input type="radio" name="q_a" value=2 />
            <label>Fair(2)</label>
          </li>
          <li>
            <input type="radio" name="q_a" value=1 />
            <label>Poor(1)</label>
          </li>
        </ul>
        <div class="buttons">
          
          <button class="clear" >Clear</button>
          <button class="submit"  id="btn1">Submit</button>
        </div>
      </form>