 <form action="api/user5" method="POST" id="phase3">
        <label for="cmp_prs" class="statement">Complete Presentation</label>
        <ul class="likert">
          <li>
            <input type="radio" name="cmp_prs" value=10 />
            <label>Excellent</label>
            <label>(10)</label>
          </li>
          <li>
            <input type="radio" name="cmp_prs" value=8 />
            <label>Good(8)</label>
          </li>
          <li>
            <input type="radio" name="cmp_prs" value=6 />
            <label>Average(6)</label>
          </li>
          <li>
            <input type="radio" name="cmp_prs" value=4 />
            <label>Fair(4)</label>
          </li>
          <li>
            <input type="radio" name="cmp_prs" value=2 />
            <label>Poor(2)</label>
          </li>
        </ul>
        <label for="dm_ex"class="statement">Demo and Execution</label>
        <ul class="likert">
          <li>
            <input type="radio" name="dm_ex" value=10 />
            <label>Excellent(10)</label>
          </li>
          <li>
            <input type="radio" name="dm_ex" value=8 />
            <label>Good(8)</label>
          </li>
          <li>
            <input type="radio" name="dm_ex" value=6 />
            <label>Average(6)</label>
          </li>
          <li>
            <input type="radio" name="dm_ex" value=4 />
            <label>Fair(4)</label>
          </li>
          <li>
            <input type="radio" name="dm_ex" value=2 />
            <label>Poor(2)</label>
          </li>
        </ul>
        <label for="rs_ds"class="statement">Result and Discussion</label>
        <ul class="likert">
          <li>
            <input type="radio" name="rs_ds" value=10 />
            <label>Excellent(10)</label>
          </li>
          <li>
            <input type="radio" name="rs_ds" value=8 />
            <label>Good(8)</label>
          </li>
          <li>
            <input type="radio" name="rs_ds" value=6 />
            <label>Average(6)</label>
          </li>
          <li>
            <input type="radio" name="rs_ds" value=4 />
            <label>Fair(4)</label>
          </li>
          <li>
            <input type="radio" name="rs_ds" value=2 />
            <label>Poor(2)</label>
          </li>
        </ul>
        <label for="prj_rp" class="statement">Project Report</label>
        <ul class="likert">
          <li>
            <input type="radio" name="prj_rp" value=10 />
            <label>Excellent(10)</label>
          </li>
          <li>
            <input type="radio" name="prj_rp" value=8 />
            <label>Good(8)</label>
          </li>
          <li>
            <input type="radio" name="prj_rp" value=6 />
            <label>Average(6)</label>
          </li>
          <li>
            <input type="radio" name="prj_rp" value=4 />
            <label>Fair(4)</label>
          </li>
          <li>
            <input type="radio" name="prj_rp" value=2 />
            <label>Poor(2)</label>
          </li>
        </ul>
        <label for="dis" class="statement">Discussion</label>
        <ul class="likert">
          <li>
            <input type="radio" name="dis" value=10 />
            <label>Excellent(10)</label>
          </li>
          <li>
            <input type="radio" name="dis" value=8 />
            <label>Good(8)</label>
          </li>
          <li>
            <input type="radio" name="dis" value=6 />
            <label>Average(6)</label>
          </li>
          <li>
            <input type="radio" name="dis" value=4 />
            <label>Fair(4)</label>
          </li>
          <li>
            <input type="radio" name="dis" value=2 />
            <label>Poor(2)</label>
          </li>
        </ul>
        <div class="buttons">
          <button class="clear">Clear</button>
          <button class="submit">Submit</button>
        </div>
      </form>