<form action="api/user4" method="POST" id="phase2">
        <label for="req_spe" class="statement">Requirement and Specifications</label>
        <ul class="likert">
          <li>
            <input type="radio" name="req_spe" value=5 />
            <label>Excellent</label>
            <label>(5)</label>
          </li>
          <li>
            <input type="radio" name="req_spe" value=4 />
            <label>Good(4)</label>
          </li>
          <li>
            <input type="radio" name="req_spe" value=3 />
            <label>Average(3)</label>
          </li>
          <li>
            <input type="radio" name="req_spe" value=2 />
            <label>Fair(2)</label>
          </li>
          <li>
            <input type="radio" name="req_spe" value=1 />
            <label>Poor(1)</label>
          </li>
        </ul>
        <label for="dsg" class="statement">Design</label>
        <ul class="likert">
          <li>
            <input type="radio" name="dsg" value=5 />
            <label>Excellent(5)</label>
          </li>
          <li>
            <input type="radio" name="dsg" value=4 />
            <label>Good(4)</label>
          </li>
          <li>
            <input type="radio" name="dsg" value=3 />
            <label>Average(3)</label>
          </li>
          <li>
            <input type="radio" name="dsg" value=2 />
            <label>Fair(2)</label>
          </li>
          <li>
            <input type="radio" name="dsg" value=1 />
            <label>Poor(1)</label>
          </li>
        </ul>
        <label for="prj_prg" class="statement">Project Progress</label>
        <ul class="likert">
          <li>
            <input type="radio" name="prj_prg" value=5 />
            <label>Excellent(5)</label>
          </li>
          <li>
            <input type="radio" name="prj_prg" value=4 />
            <label>Good(4)</label>
          </li>
          <li>
            <input type="radio" name="prj_prg" value=3 />
            <label>Average(3)</label>
          </li>
          <li>
            <input type="radio" name="prj_prg" value=2 />
            <label>Fair(2)</label>
          </li>
          <li>
            <input type="radio" name="prj_prg" value=1 />
            <label>Poor(1)</label>
          </li>
        </ul>
        <label for="prj_plan"class="statement">Project Timeline and Planning</label>
        <ul class="likert">
          <li>
            <input type="radio" name="prj_plan" value=5 />
            <label>Excellent(5)</label>
          </li>
          <li>
            <input type="radio" name="prj_plan" value=4 />
            <label>Good(4)</label>
          </li>
          <li>
            <input type="radio" name="prj_plan" value=3 />
            <label>Average(3)</label>
          </li>
          <li>
            <input type="radio" name="prj_plan" value=2 />
            <label>Fair(2)</label>
          </li>
          <li>
            <input type="radio" name="prj_plan" value=1 />
            <label>Poor(1)</label>
          </li>
        </ul>
        <label for="q_a" class="statement">Q-A</label>
        <ul class="likert">
          <li>
            <input type="radio" name="q_a" value=5 />
            <label>Excellent(5)</label>
          </li>
          <li>
            <input type="radio" name="q_a" value=4 />
            <label>Good(4)</label>
          </li>
          <li>
            <input type="radio" name="q_a" value=3 />
            <label>Average(3)</label>
          </li>
          <li>
            <input type="radio" name="q_a" value=2 />
            <label>Fair(2)</label>
          </li>
          <li>
            <input type="radio" name="q_a" value=1 />
            <label>Poor(1)</label>
          </li>
        </ul>
        <div class="buttons">
          <button class="clear">Clear</button>
          <button class="submit">Submit</button>
        </div>
      </form>