<form action="api/user2" method="POST" id='register' class='input-group-register'>
		     Name<input type='text'name="name"class='input-field'placeholder=' Name' >
		     ID NO<input type='text' name="id"class='input-field'placeholder='ID NO. ' >
		     Email ID<input type='email' name="email"class='input-field'placeholder='Email Id' >
		     Password<input type='password'name="password"class='input-field'placeholder='Enter Password' >
		     Confirm Password <input type='password' name="conpass"class='input-field'placeholder='Confirm Password'  >
		     <!-- <input type='checkbox'class='check-box' ><span>I agree to the terms and                                                   conditions</span> -->
              <button type='submit'class='submit-btn'>Register</button>
             <!-- <script>
             function check_pass() {
    if (document.getElementById('password').value ==
            document.getElementById('conpass').value) {
        document.getElementById('submit').disabled = false;
    } else {
        document.getElementById('submit').disabled = true;
    }
}     
</script>
            
	         </form>
 

